# Ignore everything in the root
/*

# Project files
!/backend/
!/frontend/
!/README.md

# Always ignore
!/.gitignore
/backend/node_modules/
/frontend/node_modules/
/frontend/dist/
/backend/.wrangler/
*.log
